@import 'src/styles/base.scss';

.wrapper {
  text-align: center;
}

.header {
  background-color: $black;
  color: $white;
  height: 150px;
  padding: 20px;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}
